@model dynamic
@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    ViewBag.Title = "Products";
};

<html>
<head>
    <title>Product</title>
</head>
<body>
    <div>
        @Model.SingleProduct detail page.
    </div>
</body>
</html>