@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
};

@model nightClub.Web.Models.UserData
<div class="row">
    <div class="col-md-12">
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @using (Html.BeginForm("Index", "Product", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        foreach(var prod in Model.ProducList)
                        {
                            <tr>
                                <td>@prod</td> 
                                <td>
                                    <button style="float: right" class="btn btn-primary btn-xs" name="btn"
                                            type="submit" value="@prod">View</button>
                                </td>
                            </tr>
                        }
                }

                </tbody>
            </table>
        </div>

    </div>
</div>