@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.UserData
    
<div id="main" class="row">
    <div class="col-md-12">
        <div class="table">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">PRODUCT</th>
                </tr>
                </thead>
                <tbody>
                @using (Html.BeginForm("Product", "Home", FormMethod.Post, new { autocomplete = "off" }))
                {
                    foreach (var prod in Model.Products)
                    {
                        <tr class="thead-dark">
                            <th scope="row">@prod</th>
                            <td>
                                <button style="float: right" class="btn btn-primary btn-xs" name="btn" 
                                        type="submit" value="@prod">View</button>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
